* {margin: 0; padding: 0;}

body{font-family: 'Noto Sans KR', sans-serif;}

ul {list-style: none}

.inner{width: 980px; margin: 0 auto}
a{text-decoration: none; color: #000}

#wrap{width: 100%}

#header{width: 100%; height: 100px;}




/*header 1*/
#header .menu1{width: 100%; height: 34px; clear: both}
#header .menu1 ul{text-align: center; float: right;}
#header .menu1 ul li{font-size: 12px; float: left; color: #8f918f}
#header .menu1 ul li span{display: inline-block; padding: 1px 0; color: #8f918f}
#header .menu1 ul li a{display: inline-block; padding: 10px 0}
#header .menu1 ul li:nth-child(1) span, #header .menu1 ul li:nth-child(2) span, #header .menu1 ul li:nth-child(3) span{border-right: 1px solid #d5d5d5; padding: 0 10px;}
#header .menu1 ul li:nth-child(4){padding: 0 34px 0 10px}
#header .menu1 ul li:last-child{padding: 0 !important;}
#header .menu1 .app{width: 70px; height: 34px; font-size: 14px; font-weight: bold; background-color: #09584c; color: #fff; text-align: center; line-height: 34px; border-radius: 0 0 7px 7px}
#header .menu1 .app>img{padding-left: 5px; vertical-align: baseline}


/*header 2*/
#header .menu2{width: 980px; height: 67px; clear: both; line-height: 67px}
#header .menu2 .logo{width: 176px; height: 38px; float: left;}
#header .menu2 .logo img{width: 176px; height: 38px;}
#header .menu2 ul{width: 450px; text-align: center; float: left; padding-left: 145px;}
#header .menu2 ul li{font-size: 19px; float: left; width: 20%; font-weight: bold;}
#header .menu2 .search{width: 25px; height: 27px; float: right; }
#header .menu2 .search img{vertical-align: middle}


/*mainimg*/
#mimg{width: 100%; height: 597px; background-image: url(../img/mainimg.png); background-repeat: no-repeat; background-size: cover; background-position: center center; clear: both;}
#mimg .inner{width: 980px; height: 595px; position: relative;}
#mimg .mtext{position: absolute; top: 147px; left: 350px}
.inner .mtext > p:nth-of-type(1){width: 45px; height: 26px; font-size: 14px; text-align: center; line-height: 24px; color: #fff; background-color: #09584c}
.inner .mtext > h2{font-size: 44px; letter-spacing: -1px; font-weight: normal;}
.inner .mtext > h1{font-size: 48px; letter-spacing: -2px}
.inner .mtext > p:nth-of-type(2){padding-top: 45px; font-size: 22px; letter-spacing: -2px; font-weight: bold}
.inner .mtext > div{width: 135px; height: 40px; border: 1px solid #666666; border-radius: 100px; line-height: 40px; text-align: center; margin-top: 30px; font-size: 14px; font-weight: bold; color: #666666}
#mimg .buy{ position: absolute; width: 86px; height: 86px; background-color: #09584c; color: #fff; text-align: center; border-radius: 100px;  right: 0; bottom: -45px; box-shadow: 0px 10px 10px rgba( 0,0,0,0.2 ); font-size: 16px; font-weight: bold; line-height: 86px}

#contents{width: 100%;}


/*contents1*/
#contents .contents1{width: 980px; height: 950px; margin: 0 auto; background-image: url(../img/contents1.png); background-repeat: no-repeat; background-position: 40px 300px; text-align: center; position: relative}
.contents1 h1{padding-top: 175px; font-size: 60px;}
.contents1 h1 span{color: #09584c}
.contents1 .btn1{position: absolute; width: 290px; height: 70px; background-color: #09584c; line-height: 70px; text-align: center; border-radius: 100px; color: #fff; bottom: 0; left: 0; right: 0; margin: 0 auto; font-weight: normal; font-size: 17px; letter-spacing: -1px;}


/*contents2*/
#contents .contents2{width: 100%; height: 1043px; position: relative; padding-top: 178px}
.contents2 .backcolour{width: 95%; height: 704px; background-color: #f6f8fb; border-radius: 50px 0 0 50px; position: absolute; right: 0; bottom: 163px;}
/*contents2.box1*/
.contents2 .box1{width: 100%; height: 557px; position: absolute;}
.contents2 .box1_l{width: 50%; height: 557px; float: left; background-image: url(../img/contenst2.png); background-repeat: no-repeat; background-size: cover; background-position: right center}
.contents2 .box1_r{width: 50%; height: 557px; float: left}
.contents2 .box1_r > div{margin-top: 105px; padding-left: 72px}
.contents2 .box1_r p:nth-of-type(1){font-size: 23px; letter-spacing: -1px;}
.contents2 .box1_r h1{padding: 0 0 41px;font-weight: normal; font-size: 56px; letter-spacing: -3px}
.contents2 .box1_r h1 span{font-size: 80px; font-weight: bold; color: #09584c}
.contents2 .box1_r > div > div{width: 230px; height: 70px; background-color: #09584c; border-radius: 100px; color: #fff; font-size: 20px; line-height: 70px; text-align: center;}
.contents2 .box1_r > div > div >img{display: inline-block; vertical-align: middle; margin-left: 10px;}
/*contents2.box2*/
.contents2 .box2{clear: both; position: absolute; width: 980px; left: 0; right: 0; bottom: 0; margin: 0 auto;}
.contents2 .box2 li{width: 23.5%; height: 365px; background-color: #afcfaf; float: left; border-radius: 10px; box-shadow: 0 0 10px #e8eaed; text-align: center}
.contents2 .box2 li:nth-child(2), .contents2 .box2 li:nth-child(3), .contents2 .box2 li:nth-child(4){margin-left: 2%}
.contents2 .box2 li div>img:nth-child(1){width: 102px; height: 102px; padding: 55px 0 20px}
.contents2 .box2 li div .name{font-size: 24px; font-weight: bold; padding-bottom: 19px}
.contents2 .box2 li div .detail{font-size: 18px; color: #2a2a2a; padding-bottom: 15px; letter-spacing: -2px}


/*contents3*/
.contents3{width: 100%; height: 642px; position: relative; margin-top: 272px; background-image: url(../img/contents3.png); background-repeat: no-repeat; background-position: center center; background-size: cover; clear: both}
.contents3 div{position: absolute; left: 470px; top: 200px}
.contents3 div h2{font-size: 60px; color: #09584c; letter-spacing: -2px;}
.contents3 div p{font-size: 20px; letter-spacing: -2px;}


/*footer*/
#footer{width: 100%; font-size: 13px; color: #595959;}
#footer .f_inner{height: 256px; padding-top: 50px;}
#footer .f_inner ul{padding: 35px 0 0 0; clear: both}
#footer .f_inner ul li{float: left}
#footer .f_inner ul li:nth-child(1), #footer .f_inner ul li:nth-child(2){padding-right: 68px;}
#footer .f_inner p{clear: both; padding: 27px 0 0 0}
#footer .f_inner ul:after{display: block; content: ""; clear: both;}